- unless teamsetting.nil?
  %tr
    %td
      - teamsetting.players.each do |player|
        .leagueplayer-image
          = image_tag player_avatar(player)
      .leagueplayer-name
        = teamsetting
    %td= link_to teamsetting, edit_league_team_url(teamsetting.league, teamsetting)
