- unless teamsetting.nil?
  %tr
    %td
      - teamsetting.players.each do |player|
        .leagueplayer-image
          = image_tag player_avatar(player)
      .leagueplayer-name
        = teamsetting
    %td= teamsetting
    %td= link_to "Edit", edit_league_team_url(teamsetting.league, teamsetting), :class => "btn btn-small"
