- content_for :heading do
  %h1 Create New League

= simple_form_for resource do |form|
  = form.error_messages
  .row
    .column.six
      = render 'form', :form => form
  .field-actions
    = form.button :submit, :class => "btn btn-primary"

