.game.row
  .game-team.game-team-home.column.five
    =  game.home
  .game-scores.column.two
    .row
      .game-score.game-score-home.column.six
        = game.home_score
      .game-score.game-score-away.column.six
        = game.away_score
  .game-team.game-team-away.column.five
    =  game.away
