.branding {
  margin: 0;
  position: relative;
  top: -8px;
  display: inline-block;

  a {
    width: 80px;
    height: 78px;
    display: inline-block;
    text-indent: -9999em;
    background-image: asset_url('logo-foosleague.png', image);
    background-size: 80px 78px;

    @media (-webkit-min-device-pixel-ratio: 1.5) {
      background-image: asset_url('logo-foosleague@2x.png', image);
    }
  }
}