.has-dropdown {
  .dropdown {
    pointer-events: none;
    @include opacity(0);
    @include translateY(-5px);
    @include transition(0.25s);
  }

  &:hover {
    .dropdown {
      pointer-events: all;
      @include translateY(0px);
      @include opacity(1);
    }
  }
}

.dropdown {
  margin: 0;
  padding: 0;
  min-width: 100%;
  background: #fff;
  position: absolute;
  top: 100%;
  text-align: left;
  padding: 5px 10px;
  border: 1px solid #95a8bf;
  z-index: 20;
  @include border-radius(3px);
  @include box-shadow(0 2px 5px rgba(24,55,93,0.25));

  li {
    margin: 0;
    padding: 0;
    list-style: none;

    &.spacer {
      margin: 5px -10px 10px;
      border-top: 1px solid #95a8bf;
    }

    a {
      padding: 3px 0;
      text-shadow: none;
      display: block;
      font-size: 13px;

      .ss-icon {
        margin: 1px 0 0;
        float: left;
        width: 20px;
      }
    }

    .btn {
      text-align: center;
      margin: -5px -5px 0;
    }
  }
}

.dropdown-left {
  left: 0;
}

.dropdown-right {
  right: 0;
}

.dropdown-image {
  margin: -5px 5px -5px -5px;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #505b67;
  position: relative;
  @include border-radius(2px);
  @include box-shadow(0 1px 1px rgba(24,55,93,0.15));

  &:after {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    @include box-shadow(inset 0 1px rgba(255,255,255,0.15));
    @include border-radius(1px);
  }

  img {
    width: 22px;
    height: 22px;
    display: block;
    @include border-radius(1px);
  }
}