.topbar {
  top: 0;
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 64px;
  padding: 0 20px;
  text-align: center;
  background: #01408c;
  border-top: 10px solid #0a2039;
  border-bottom: 1px solid #0d2847;
  @include background-image(linear-gradient(#014ea9, #013471));
  @include box-shadow(inset 0 1px #036dcc, 0 2px 3px rgba(24,55,93,0.4));
}