- content_for :heading do
  %h1 Player Ladder
  .col-main-heading-action
    = link_to 'New Game', '#', :class => "btn btn-primary btn-ondark btn-newgame"

- content_for :sideleft do
  = render :partial => 'layouts/leaguenav'

- content_for :sideright do
  = render :partial => 'layouts/playerstat'

.removemargin.scrollable
  %table.table-responsive
    %thead
      %th Rank
      %th Name
      %th Wins
      %th Losses
      %th Win %
      %th Streak
      %th FoosSkill
    %tbody
      = render :partial => 'league_player', :collection => collection.sort { |player_a, player_b| current_league.league_memberships.find_by_player_id(player_b.id).skill <=> current_league.league_memberships.find_by_player_id(player_a.id).skill }
