@import "compass";
@import "foundation";
@import "joyride-2.0.1.css";
@import "ss-standard.css";

@font-face {
  font-family: 'SSStandard';
  src: url(font-path('ss-standard.eot'));
  src: url(font-path('ss-standard.eot') + '?#iefix') format('embedded-opentype'),
       url(font-path('ss-standard.woff')) format('woff'),
       url(font-path('ss-standard.ttf')) format('truetype'),
       url(font-path('ss-standard.svg') + '#SSStandard') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-ssstandard: "ss-standard";
$font-proxima: "proxima-nova", "Helvetica Neue", Helvetica, Arial;

$font-base-color: #505b67;
$blue: #4e80bb;

@import "modules/layout";
@import "modules/branding";
@import "modules/btn";
@import "modules/dropdown";
@import "modules/topbar";
@import "modules/tables";
@import "modules/scrollable";


html,
body {
  color: #505b67;
  height: 100%;
  background: #F3F5F7;
  font-family: $font-proxima;
  -webkit-background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
}

body.open {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-proxima;
}

hr {
  margin: 20px 0 0;
}

a {
  color: #2781cc;

  &:hover {
    color: #14429b;
  }
}

.notice {
  font-weight: 600;
  margin: -20px -20px 20px;
  padding: 10px 20px;
  background: #f9f6e5;
  border-bottom: 1px solid #c2c0b3;
  text-align: center;
  color: #827f6a;
  @include box-shadow(0 1px #fff);
}

.nav {
  > h1 {
    margin: 0;
    padding: 0;
  }

  > ul {
    margin: 0;
    padding: 0;

    > li {
      margin: 0;
      padding: 0;
      list-style: none;

      > a {
        margin: 0;
        padding: 0;
        display: block;
      }
    }
  }
}

.nav-main {
  > h1 {
    margin: 0 0 10px;
    font-size: 12px;
    text-transform: uppercase;
    color: #8f9bad;
  }

  > ul {
    > li {
      > a {
        padding: 5px 0;
        color: #1a3d66;
        font-weight: 600;
        font-size: 14px;

        .ss-icon {
          display: inline-block;
          width: 22px;
          text-align: center;
          position: relative;
          top: 2px;
        }
      }

      &.active {
        margin: 0 -21px;
        padding: 0 21px;
        border: 1px solid #24430d;
        @include background-image(linear-gradient(#abcf57, #579f2b));
        @include box-shadow(inset 0 1px #c6de73, 0 1px 1px rgba(24,55,93,0.15));

        > a {
          color: #fff;
          text-shadow: 0 1px 1px rgba(0,0,0,0.5);
        }
      }
    }
  }
}

.player {
  > h2 {
    margin: 10px 0 0;
    font-size: 12px;
    text-transform: uppercase;
    color: #a3adbc;
  }
}

.player-card {
  margin: 0 0 10px;
  padding: 4px;
  background: #fff;
  border: 1px solid #95a8bf;
  overflow: hidden;
  @include box-shadow(0 1px 1px rgba(24,55,93,0.15));
  @include border-radius(2px);
}

.player-card-image {
  margin: 0 10px 0 0;
  width: 60px;
  height: 60px;
  display: block;
  float: left;
  position: relative;
  @include border-radius(1px);

  img {
    width: 60px;
    height: 60px;
    display: block;
    @include border-radius(1px);
  }

  &:after {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    @include box-shadow(inset 0 0 0 1px rgba(24,55,93,0.25));
    @include border-radius(1px);
  }
}

.player-card-info {
  padding: 3px;

  h1 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #1a3d66;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #a7afbc;
  }
}

.stat {
  padding: 10px 0 0;
  text-align: center;
  font-weight: 700;
  line-height: 1;

  strong {
    display: block;
    color: #a3adbc;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.stat-large {
  font-size: 34px;

  strong {
    font-size: 11px;
  }
}

.games {
  margin: -20px 0 0;
}

.game {
  margin: 0 -20px !important;
  padding: 10px 0;
  background: asset_url('bg-gamedash.png', image) center center no-repeat #f9fbfe;
  border-bottom: 1px solid #DAE2EC;
  background-size: 8px 4px;

  &:nth-child(2n) {
    background-color: #fff;
  }

  @media (-webkit-min-device-pixel-ratio: 1.5) {
    background-image: asset_url('bg-gamedash@2x.png', image);
  }
}

.game-team {
  color: #505b67;
  font-size: 15px;
  font-weight: 700;
  @include opacity(0.5);

  &.winner {
    @include opacity(1);
  }
}

.game-team-playerimages {
  margin: 2px 0 0;
}

.game-team-home {
  text-align: right;

  .game-team-playerimages,
  .score {
    float: right;
    margin-left: 10px;
  }
}

.game-team-away {
  text-align: left;

  .game-team-playerimages,
  .score {
    float: left;
    margin-right: 10px;
  }
}

.game-team-name {
  padding: 8px 0 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.game-team-playerimage {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #505b67;
  position: relative;
  @include border-radius(2px);
  @include box-shadow(0 1px 1px rgba(24,55,93,0.15));

  &:after {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    @include box-shadow(inset 0 1px rgba(255,255,255,0.15));
    @include border-radius(1px);
  }

  img {
    width: 22px;
    height: 22px;
    display: block;
    @include border-radius(1px);
  }
}

.chart {
  margin: 0 0 20px;
  display: block;
}

.chart-small {
  height: 100px;
}

.players {
  input {
    display: none;
  }
}

.player-btn {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  display: block;
  cursor: pointer;
  border: 0;
  @include transition(0.15s);
  @include box-shadow(inset 0 1px #fff, 0 1px 2px rgba(0,0,0,0.5));

  .btn-image {
    margin: -2px 8px 0 -9px;
    @include box-shadow(0 1px #fff);
  }

  &.disabled {
    @include opacity(0.2);
  }

  &.active {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    @include background-image(linear-gradient(#abcf57, #579f2b));
    @include box-shadow(inset 0 1px #c6de73, 0 1px 1px rgba(24,55,93,0.15));

    .btn-image {
      @include box-shadow(0 1px 1px rgba(0,0,0,0.15));
    }
  }
}

.league-image {
  width: 150px;
  height: 150px;
  position: relative;
  left: 50%;
  margin: -50px 0 25px -76px;
  display: inline-block;
  background: #fff;
  border: 1px solid #95a8bf;
  padding: 4px;
  @include border-radius(3px);
  @include box-shadow(0 1px 1px rgba(24,55,93,0.15));

  img {
    display: block;
    @include border-radius(2px);
  }
}

.nogames {
  text-align: center;
  padding: 30px 10%;
}

.score {
  margin: -5px 0 -6px;
  width: 52px;
  height: 37px;
  display: inline-block;

  span {
    width: 24px;
    height: 37px;
    display: inline-block;
    margin: 0 1px;
    background-image: asset_url('bg-score.png', image);
    background-size: 24px 37px;
    text-align: center;
    font-size: 24px;
    line-height: 39px;
    color: #555;

    @media (-webkit-min-device-pixel-ratio: 1.5) {
      background-image: asset_url('bg-score@2x.png', image);
    }
  }
}

form {
  margin: 0;
}

label {
  font-weight: 600;
}

.input {
  padding-bottom: 10px;
}

.field-actions {
  margin: 10px -20px -20px;
  padding: 10px 20px;
  background: #f8fbff;
  border-top: 1px solid #b3cae6;
  @include border-radius(0 0 3px 3px);
}

.newplayer {
  .btn {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 16px;
  }
}

.newleague {
  h2 {
    margin: 0;
    padding: 20px 0 10px;
    font-size: 18px;
    color: #505b67;
    font-weight: 700;
  }
}

.newplayer {

}

.newplayer-image {
  float: right;
  margin: 16px 0 0;
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #95a8bf;
  position: relative;
  @include border-radius(2px);
  @include box-shadow(0 1px 1px rgba(24,55,93,0.15));

  &:after {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    @include box-shadow(inset 0 1px rgba(255,255,255,0.15));
    @include border-radius(1px);
  }

  img {
    width: 30px;
    height: 30px;
    display: block;
    @include border-radius(1px);
  }
}

.newplayer-you {
  .newplayer-image {
    margin-top: 0;
  }
}

.newplayer-you-name {
  padding-top: 4px;
  font-weight: 600;
}


.newgame {
  padding-top: 40px;
  margin-bottom: -40px;
  overflow: hidden;
  background: asset_url('bg-linen.png', image) #333;
  background-size: 640px 640px;
  overflow-y: scroll;

  @media (-webkit-min-device-pixel-ratio: 1.5) {
    background-image: asset_url('bg-linen@2x.png', image);
  }

  h2 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  }

  .row {
    padding: 50px 20px 20px;
  }

  &.hidden {
    height: 0;
    margin-bottom: 0px;
    padding: 0;
  }

  input[type=text] {
    margin: 0 30%;
    width: 40%;
    color: #fff;
    font-weight: 800;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
    font-size: 72px;
    height: 90px;
    text-align: center;
    position: relative;
    z-index: 10;
    background: #333;
    border-color: #111;
    @include border-radius(5px);
    @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.2), 0 1px rgba(255,255,255,0.1));
  }
}

.newgame-action {
  text-align: center;
  position: relative;
  margin-top: -40px;
  top: -70px;

  @media only screen and (max-width: $screenSmall - 1) {
    margin-top: 0;
    top: 0;
  }
}

.newgame-home {
  padding-right: 20px;

  @media only screen and (max-width: $screenSmall - 1) {
    padding-right: 0;
    margin-bottom: 20px;
  }
}

.newgame-away {
  padding-left: 20px;

  @media only screen and (max-width: $screenSmall - 1) {
    padding-left: 0;
    margin-bottom: 20px;
  }
}


.leagueplayer-rank {
  font-weight: 700;
  font-size: 24px !important;
  @include opacity(0.3);
}

.leagueplayer-image {
  float: left;
  width: 48px;
  height: 48px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #505b67;
  position: relative;
  @include border-radius(4px);
  @include box-shadow(0 1px 1px rgba(24,55,93,0.15));

  &:after {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    @include box-shadow(inset 0 0 0 1px rgba(255,255,255,0.35));
    @include border-radius(3px);
  }

  img {
    width: 46px;
    height: 46px;
    display: block;
    @include border-radius(3px);
  }
}

.leagueplayer-name {
  font-weight: 700;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  padding: 15px 0;
}

.league-logo-preview {
  margin-bottom: 10px;
  img {
    float: left;
    margin-right: 10px;
  }

  label {
    font-weight: normal;
  }
}

.input.radio_buttons {
  input {
    margin-right: 5px;
  }

  label {
    font-weight: normal;
    font-size: 13px;
  }
}

.leaguelisting {
  margin: 0 0 -10px;
  padding: 0;
  list-style: none;

  li {
    margin: 0 0 10px;
    padding: 0;
    overflow: hidden;
  }
}

.leaguelist-item-image {
  float: left;
  width: 48px;
  height: 48px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #505b67;
  position: relative;
  @include border-radius(4px);
  @include box-shadow(0 1px 1px rgba(24,55,93,0.15));

  &:after {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    @include box-shadow(inset 0 0 0 1px rgba(255,255,255,0.35));
    @include border-radius(3px);
  }

  img {
    width: 46px;
    height: 46px;
    display: block;
    @include border-radius(3px);
  }
}

.leaguelist-item-name {
  padding: 12px 0;
  color: #505b67;
  font-weight: 700;
}
