@import "compass";
@import "foundation";
@import "ss-standard.css";

@font-face {
  font-family: 'SSStandard';
  src: url(font-path('ss-standard.eot'));
  src: url(font-path('ss-standard.eot') + '?#iefix') format('embedded-opentype'),
       url(font-path('ss-standard.woff')) format('woff'),
       url(font-path('ss-standard.ttf')) format('truetype'),
       url(font-path('ss-standard.svg') + '#SSStandard') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-ssstandard: "ss-standard";
$font-proxima: "proxima-nova", "Helvetica Neue", Helvetica, Arial;


@import "modules/layout";
@import "modules/branding";
@import "modules/btn";
@import "modules/dropdown";
@import "modules/topbar";


html,
body {
  height: 100%;
  background: #F3F5F7;
  font-family: $font-proxima;
  -webkit-background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #2781cc;

  &:hover {
    color: #14429b;
  }
}