@import "compass";
@import "foundation";

$font-proxima: "proxima-nova", "Helvetica Neue", Helvetica, Arial;

html,
body {
  overflow: hidden;
  height: 100%;
  font-family: $font-proxima;
  -webkit-background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
}

html {
  background: asset_url('landing/bg.png', image) no-repeat center center fixed;
  @include background-size(cover);
}

body {
  background: none;
  border-top: 10px solid #0a2039;
  @include box-shadow(inset 0 1px rgba(255,255,255,0.5));
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-proxima;
}

.header {
  height: 500px;
  width: 100%;
  display: block;
  position: absolute;
  top: 50%;
  margin: -250px 0 0 0;
  text-align: center;
  @include transition(all 0.5s);

  h2 {
    color: #fff;
    font-size: 42px;
    padding: 0 20px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    @include transition(all 0.5s ease 0.25s);

    &.hidden {
      @include translateY(-25px);
      @include opacity(0);
    }
  }

  &.hidden {
    @include translateY(-50px);
    @include opacity(0);
  }
}

.branding {
  margin: 0;
  width: 276px;
  height: 266px;
  display: inline-block;
  text-indent: -9999em;
  background-image: asset_url('landing/logo-foosleague.png', image);
  background-size: 276px 266px;

  @media (-webkit-min-device-pixel-ratio: 1.5) {
    background-image: asset_url('landing/logo-foosleague@2x.png', image);
  }
}

.content {
  position: absolute;
  bottom: 0;
  height: 240px;
  width: 100%;
  background: asset_url('landing/bg-content.png', image) top left repeat-x;
  @include transition(all 0.75s ease 0.5s);

  .row {
    position: relative;
  }

  &.hidden {
    @include translateY(240px);
  }
}

.landing-stat {
  height: 57px;
  display: block;

  h1 {
    margin: 0;
    padding: 19px 0;
    font-size: 18px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    display: inline-block;
  }
}

.landing-companies {
  height: 130px;
  display: block;

  h1 {
    margin: 0 20px 0 0;
    padding: 60px 0;
    color: #b9c0c6;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    float: left;
  }
}

.landing-footer {
  padding-top: 20px;
  display: block;

  p {
    font-size: 13px;
    color: #b9c0c6;
    text-align: right;
  }
}

.landing-recentgames {

}

.landing-games {
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 90px;
  background: asset_url('landing/bg-games.png', image) top left no-repeat;
  overflow: hidden;

  h1 {
    float: left;
  }
}

.logo {
  margin: 0 20px;
  float: left;
  height: 80px;
  display: inline-block;
  vertical-align: middle;
  @include transition(0.25s);

  img {
    display: block;
    vertical-align: middle;
  }

  &:hover {
    @include scale(1.1);
  }
}

.logo-freedom {
  width: 220px;
  margin-top: 45px;
}

.logo-mitremedia {
  width: 160px;
  margin-top: 35px;
}

.logo-rocketfuelgames {
  width: 160px;
  margin-top: 45px;
}

.logo-lift {
  width: 70px;
  margin-top: 31px;
}

.count {
  margin: 9px 0 0 10px;
  float: left;

  span {
    width: 24px;
    height: 37px;
    display: block;
    float: left;
    margin: 0 1px;
    background-image: asset_url('bg-score.png', image);
    background-size: 24px 37px;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    color: #555;
    font-weight: 800;

    @media (-webkit-min-device-pixel-ratio: 1.5) {
      background-image: asset_url('bg-score@2x.png', image);
    }
  }
}